<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="environments" type="com.hotelbeds.distribution.hotel_api_sdk.config.EnvironmentsSection, com.hotelbeds.distribution.hotel_api_sdk" />
  </configSections>
  <appSettings>
    <add key="TimeoutSeconds" value="5000"/>
    <add key="ApiKey" value="xxxxxxxxxxxxxxxxx" />
    <add key="SharedSecret" value="xxxxxxxxxxx" />
    <add key="ENVIRONMENT" value="TEST" />   
  </appSettings>
  <environments>
    <environment 
      name="TEST" 
      baseUrl="https://api.test.hotelbeds.com/hotel-api" 
      baseSecureUrl="https://api-secure.test.hotelbeds.com/hotel-api"
    />
    <environment 
      name="LIVE" 
      baseUrl="https://api.hotelbeds.com/hotel-api" 
      baseSecureUrl="https://api-secure.hotelbeds.com/hotel-api"
    />
    <environment
      name="DEVELOPMENT"
      baseUrl="http://localhost:8181"
    />
  </environments>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>