<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TimeoutSeconds" value="5000"/>
    <add key="ApiKey" value="xxxxxxxxxxxxxxxxx" />
    <add key="SharedSecret" value="xxxxxxxxxxx" />
    <add key="ENVIRONMENT" value="TEST" />
    <add key="TEST" value="https://api.test.hotelbeds.com/hotel-api" />
    <add key="LIVE" value="https://api.hotelbeds.com/hotel-api" />
    <add key="DEVELOPMENT" value="http://localhost:8181" />    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>